content_for :title, 'Home'

%header
  .header-content
    .header-content-inner
      %h1 KL Meetups!
      %hr
        %p Exploring the tech scene around KL? Connect with designers, makers and engineers!
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#upcoming"} Check upcoming events!
%section#upcoming.bg-light-dark
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Upcoming events
      .col-lg-12.text-center
        - @events.latest.first(10).each do |event|
          %hr.light
            %h3=link_to(event.name, event.url, target: '_blank')
            %p.text-faded= event.start_time.strftime('%d %B %Y, %I:%M %p')
            %p.text-faded= event.location.formatted_address
= render partial: 'partial/contact_me', locals: { title: 'Get in touch!' }
