%section#home.bg-light-dark
  .container
    .row
      .col-lg-8
        %h3.section-heading Facebook Groups
      .col-lg-12
        - @facebook_groups.each do |group|
          %h4=link_to("- #{group.name}", group.url, target: '_blank')
    .row{ style: 'margin-top: 50px'}
      .col-lg-8
        %h3.section-heading Eventbrite Groups
      .col-lg-12
        - @eventbrite_groups.each do |group|
          %h4=link_to("- #{group.name}", group.url, target: '_blank')
    .row{ style: 'margin-top: 50px'}
      .col-lg-8
        %h3.section-heading Meetup Groups
      .col-lg-12
        - @meetup_groups.each do |group|
          %h4=link_to("- #{group.name}", group.url, target: '_blank')

= render partial: 'partial/contact_me', locals: { title: 'Have suggestions? Contact me!' }
